# Configurações do Flask
SECRET_KEY=b085328a96e53a1710be68cc2996e73c7f9f0a18831edd930fa4d916f92a2e3e
JWT_SECRET_KEY=a698a9df339c4338bf65b9f7e4eee58547d4c53a73927b2d360862351b3430a7

# Banco de dados AWS RDS PostgreSQL
DB_HOST=personal-feed.c3yc0my6ywu9.sa-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=personal-feed
DB_USER=admin1
DB_PASSWORD=EsNvDJNCydIdbKXcAZy5

# APIs Externas (Opcionais - funcionam com dados mock se não configuradas)
TMDB_API_KEY=25bc08edb93b3585b344ebfb2aff4944
IGDB_CLIENT_ID=wbmytr93xzw8zbg0p1izqyzzc5mbiz
IGDB_ACCESS_TOKEN=jostpf5q0puzmxmkba9iyug38kjtg

# Configurações de produção
FLASK_ENV=production
PORT=5000

